
span {
	display: inline-block;
}

.popup-wrap {
	min-width: 350px;
	max-width: 410px;
}

h2 {
	display: inline;
}

.org-details {
	margin: 10px 0;
	position: relative;
}

.org-details .org-name {
	cursor: pointer;
	display: inline;
}

.org-details input {
	font-size: 14pt;
	width: 230px;
	margin-bottom: 20px;
}

.orgs-list-icon {
	position: absolute;
    top: 5px;
    right: 5px;
}

.action-bar {
	display: none;
    float: right;
}

.action-bar-parent:hover .action-bar {
	display: inline-block;
}


.bookmarks-list .action-bar .icon {
	float: right;
}

.icon {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.icon.medium {
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.icon-wrap {
	display: inline-block;
}

.icon-wrap .icon {
	display: block;
}

.icon-delete 	{	background: url(./images/icon_delete.png) center center no-repeat;	}
.icon-add 		{	background: url(./images/icon_add.png) center center no-repeat;		}
.icon-edit 		{	background: url(./images/icon_edit.png) center center no-repeat;	}
.icon-up 		{	background: url(./images/icon_up.png) center center no-repeat;		}
.icon-down 		{	background: url(./images/icon_down.png) center center no-repeat;	}
.icon-ok 		{	background: url(./images/icon_ok.png) center center no-repeat;		}
.icon-settings 	{	background: url(./images/icon_settings.png) center center no-repeat;}
.icon-back 		{	background: url(./images/icon_back.png) center center no-repeat;	}
.icon-newtab	{	background: url(./images/icon_newtab.png) center center no-repeat;	}
.icon-copy		{	background: url(./images/icon_copy.png) center center no-repeat;	}
.icon-list		{	background: url(./images/icon_list.png) center/100% no-repeat; width: 24px; height: 24px;	}
.icon-sort-date {	background: url(./images/icon_sort_date.png) center/100% no-repeat;	}
.icon-sort-name {	background: url(./images/icon_sort_name.png) center/100% no-repeat; 	}

.groups-list {
	max-height: 390px;
	overflow-y: auto;
}

ul {
	list-style-type: none;
    padding-left: 10px;
    margin: 7px;
    margin-bottom: 10px;
}

ul li:hover {
	background-color: #dddddd;
}

ul.bookmarks-list li {
	margin-bottom: 3px;
}

ul li a {
	text-decoration: none;
	color: black;
	font-size: 12pt;
}

ul.bookmarks-list li input {
	width: 250px;
}

.org-actions {
	padding-top: 10px;
}

.footer {
	border-top: 1px gray solid;
    padding-top: 5px;
    margin-top: 5px;
}

.footer a {
	text-decoration: none;
	color: black;
}


.settings textarea {
	width: 100%;
	height: 200px;
}

.warning {
	color: red;
}

.instance-form a {
	text-decoration: underline;
	cursor: pointer;
}

.instance-form input {
	width: 39%;
}

.orgs-list-wrap .orgs-list-action-bar .icon {
	position: relative;
	top: 5px;
}

.orgs-list-wrap .orgs-list-action-bar {
	float: right;
}

ul.orgs-list li a {
	cursor: pointer;
}